extends ./layout.jade

block content
	header.not-front
		.deg
		
		.grid.grid2
		.grid.grid1
		
		a(class='logo', href='/')

		nav.menu
			.items
				a(href="/" , class="home") Home
				a(href="sur-moi" , class="surmoi") sur moi
				a(href="projets" , class="projets") projets
				a(href="contact" , class="contact") contact

		.menu-button
			div
			div
			div

		h1.title-header #{title}

		.lines
			div
			div
			div
			div

	.info.section
		.wrapper
			h2.subtitle #{subtitle}
			p #{mail_info}
			p.sub #{mail_address}

	.contact.section
		.wrapper
			span.line
			h2.subtitle #{subtitle2}
			p #{social_info}
			.social
				.items
					a(class='linkedin', href='http://co.linkedin.com/in/gabrielgoethe', target='_blank')
			.points

			.goTop
				.button
					span='Aller en haut'